* {
    box-sizing: border-box;
}
#map {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.balloonEditor {
    width: 397px;
    height: 527px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
}
.balloonEditor__header {
    font-size: 14px;
    height: 44px;
    width: 100%;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.balloonEditor__positionIcon{
    display: block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxOCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0Y0MyIgZD0iTTcgMGE3IDcgMCAwIDAtNC45NSAxMS45NWMxLjI3IDEuMjcgNC4yNSAzLjEgNC40MiA1LjAzLjAzLjI4LjI0LjUyLjUzLjUyLjI5IDAgLjUtLjI0LjUzLS41Mi4xNy0xLjkzIDMuMTUtMy43NiA0LjQyLTUuMDNBNyA3IDAgMCAwIDcgMHoiLz48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNyA5LjQ1YTIuNDUgMi40NSAwIDEgMCAwLTQuOSAyLjQ1IDIuNDUgMCAwIDAgMCA0Ljl6Ii8+PC9zdmc+) no-repeat;
    width: 14px;
    height: 18px;
    margin: auto 6px;
}
.balloonEditor__address {
    width: 200px;
    flex-basis: 90%;
}

.balloonEditor__reviews {
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
}
.balloon-reviews {
    display:flex;
    width: 367px;
    height: 40px;
    flex-wrap:wrap;
    padding: 4px;
}
.balloon-reviews__description {
    width:100%;
}
.balloon-reviews__place {
    margin-left: 10px;
    color: #777
}

.balloonEditor__form {
    height: 328px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
    margin: 0;
}
.balloon-form__title {
    text-transform: uppercase;
    color: darkorange;
    font-size: 20px;
    align-self: flex-start;
}
.balloon-form__name,.balloon-form__place {
    height: 34px;
    width: 100%;
    border: 1px solid #888;
    border-radius: 30px;
    padding: 10px 15px;
}
.balloon-form__description {
    width: 100%;
    height: 131px;
    border-radius: 10px;
    padding: 10px 15px;
}
.balloon-form__name:focus,.balloon-form__place:focus,.balloon-form__description:focus,
.balloon-form__name:active,.balloon-form__place:active,.balloon-form__description:active {
    outline: none;resize: none;
}
.balloon-form__submit{
    width: 87px;
    height: 30px;
    align-self: flex-end;
    border: none;
    background-color: darkorange;
    border-radius: 8px;
    color: #fff;

}
